- name: Update and upgrade packages on all Linux servers
  hosts: all
  become: true
  gather_facts: true

  tasks:
    - name: Update and upgrade on Ubuntu/Debian
      ansible.builtin.apt:
        update_cache: yes
        upgrade: dist
      when: ansible_facts['os_family'] == "Debian"

    - name: Install wget and unzip on Ubuntu/Debian
      ansible.builtin.apt:
        name:
          - wget
          - unzip
        state: present
      when: ansible_facts['os_family'] == "Debian"

    - name: Update and upgrade on Amazon Linux or RedHat family
      ansible.builtin.yum:
        name: "*"
        state: latest
      when: ansible_facts['os_family'] in ["RedHat", "Amazon"]

    - name: Install wget and unzip on Amazon Linux or RedHat family
      ansible.builtin.yum:
        name:
          - wget
          - unzip
        state: present
      when: ansible_facts['os_family'] in ["RedHat", "Amazon"]

    - name: Run a script to install CloudWatchAgen
      ansible.builtin.script: ./CloudWatchAgent.sh
    
    - name: Run a script to install Aws-Cli
      ansible.builtin.script: ./Aws_Cli_Install.sh
    
    - name: Run a script to gather instance details
      ansible.builtin.script: ./Generate_Instance_Details.sh

    - name: Find data file using regex
      ansible.builtin.find:
        paths: "{{ ansible_user_dir }}"
        patterns: '^data_.*\.txt$'
        use_regex: yes
        file_type: file
      register: found_files

    - name: Create local folder
      delegate_to: localhost
      run_once: true
      become: false
      file:
        path: "./instance_data"
        state: directory

    - name: Fetch files
      fetch:
        src: "{{ item.path }}"
        dest: "./instance_data/"
        flat: yes
      loop: "{{ found_files.files }}"
      when: found_files.matched | default(0) > 0

    - name: Delete files from remote
      ansible.builtin.shell: "rm -f data_*"
      args:
        chdir: "{{ ansible_user_dir }}"
      when: found_files.matched | default(0) > 0      
    
    - name: Clean-Up from local server
      ansible.builtin.shell: |
        cd ./instance_data
        bash ../Collect_Instance_Details.sh
        cd ..
        mv ./instance_data/instances_details.yml .
        rm -rf ./instance_data
      delegate_to: localhost
      run_once: true


    
